<%- model_class = Comment -%>
<div class=" span10">
  <h3><%="Recent Comments "%></h3>
  <span class = "span10">
 <%= form_tag("/comments", :method => :get, :class => 'search_bar ') do %>
        <%= text_field_tag :search, params[:search]%>
        <%= submit_tag "Search Comments"%>
      <% end %>
  </span>
</div>
<br><br><br><br><br><br>
    <% @comments.reverse_each do |comment| %>
       <div class = "span10">
      <div id = "comment_disp", class = "main_cmt user_cmt">
        <div class ="comt ">
          <div class = 'comment_border '> <b class = "comment_name"><%= comment.name %> </b> on 
            <b class = "comment_name">
              <% s =  Episode.find(comment.episode_id) %>
           <%= "##{s.id} #{s.title} " %></b> 
           <%= distance_of_time_in_words(comment.created_at, Time.now)%> ago</div>
          <span class = "text"><%= comment.description%></span><br>
        </div>
      </div>
  </div>
    <% end %>
<!-- 
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_comment_path,
            :class => 'btn btn-primary' %>
 -->