<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @login.email %>
</p>

<p>
  <b>User:</b>
  <%= @login.user_id %>
</p>

<p>
  <b>Uid:</b>
  <%= @login.uid %>
</p>

<p>
  <b>Provider:</b>
  <%= @login.provider %>
</p>


<%= link_to 'Edit', edit_login_path(@login) %> |
<%= link_to 'Back', logins_path %>
